#extinction_category {
	font-size: 18px;
	font-weight: 800;
}

#extinction_category label:nth-child(1){
background-color: #d4d4d4
}
#extinction_category label:nth-child(2){
background-color: #646464 ;
color: #ffffff
}
#extinction_category label:nth-child(3){
background-color: #5a4664 ;
color: #ffffff
}
#extinction_category label:nth-child(4){
background-color: #460359 ;
color: #ffffff
}
#extinction_category label:nth-child(5){
background-color: #3c1e64 ;
color: #ffffff
}
#extinction_category label:nth-child(6){
background-color: #3a538b ;
color: #ffffff
}
#extinction_category label:nth-child(7){
background-color: #32b57a
}
#extinction_category label:nth-child(8){
background-color: #afdc2e
}
#extinction_category label:nth-child(9){
background-color: #fdb524
}
#extinction_category label:nth-child(10){
background-color: #ff3e4c
}

#bigdiv{
  position: relative;
  /*border: 3px solid green;*/
}

#crosshair{
	position: absolute;
	left:1000px;
	top:400px;
}


#map_graph{
  position: absolute;
	left:0px;
	top:0px;
  /*border: 3px solid blue;*/

}

#cursor_center{
  position: absolute;
	left:0px;
	top:0px;
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
pointer-events: none
  /*border: 3px solid blue;*/

}

#instructions{
font-size: 30px;
}
#div_right {
  position: absolute;
  right: 0px;
  left: 1000px;
  /*border: 3px solid red;*/
}
table {
    width: 750px; 
    border-spacing: 0;
}
thead, tbody { display: block; 
font-size: 12px;
font-family: 'Courier New', monospace;}

tbody {
    height: 400px;      
    overflow-y: auto;   
    overflow-x: hidden;
}

tbody td, thead th {
    width: 150px;
}
thead th:last-child {
    width: 130px; 
}
/*https://stackoverflow.com/questions/17067294/html-table-with-100-width-with-vertical-scroll-inside-tbody*/
.is-focused:not(.is-open) > .Select-control {
  border-color: darkorange;
  box-shadow: 0 0 0 3px #fcba0366;
}



#ex1 {
background-color: #d4d4d4
}
#ex2 {
background-color: #646464 ;
color: #ffffff
}
#ex3 {
background-color: #5a4664 ;
color: #ffffff
}
#ex4 {
background-color: #460359 ;
color: #ffffff
}
#ex5 {
background-color: #3c1e64 ;
color: #ffffff
}
#ex6 {
background-color: #3a538b ;
color: #ffffff
}
#ex7 {
background-color: #32b57a
}
#ex8 {
background-color: #afdc2e
}
#ex9 {
background-color: #fdb524
}
#ex10 {
background-color: #ff3e4c
}